@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

html, body{

    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

#telefone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url('imagens/frame-iphone.png');
    background-repeat: no-repeat;


}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais{
    text-align: right;
}

@media(max-width: 500px){
    section#redes-sociais{
        flex-direction: row;
        display: flex;
    }
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(15, 12, 12, 0.4);
    box-sizing: border-box;
}

section#redes-sociais img:hover{ 
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.637);

}